venv
startup_funding.json
tables.py
static/login.csv
static/contracts.csv
static/contract_id.csv
static/archived_contracts.csv
static/glue_type.csv
static/statistics.json
static/statistics_zaloha_2023.json
__pycache__/
.idea/
