venv
startup_funding.json
tables.py
statis/login.csv
static/login_test.csv
static/contracts.csv
static/contract_id.csv
static/archived_contracts.csv
static/glue_type.csv
static/statistics.json
static/statistics_zaloha_2023.json
static/archived_contracts_04112023.csv
static/contracts_04112023.csv
__pycache__/
.idea/
