 ul {
    list-style-type: none;
    padding: 0;
    }
 li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: grab;
    }
 button {
    margin-left: 10px;
 }

.table thead tr th {
vertical-align:middle;
}

.table tbody tr td {
vertical-align:middle;
font-size:15px;
font-weight:bold;
}

.panel-heading .label {
font-size:15px;
}

.progress {
margin-bottom: 0;
}

.table-info {
background-color:#d5d5d5;
}

.order_btn {
float: right;
}

table th input {
width:150px;
}

table tbody .container span {
display: inline-block;
margin-top: 1px;
}

