body {
height:100vh;
}
 table ul {
    list-style-type: none;
    padding: 0;
    }
table li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: grab;
    }
 button {
    margin-left: 10px;
 }

.statistics th {
 background-color:grey;
 color:white;
}

.statistics td.hodiny {
 background-color:#d5d5d5;
}

.statistics td.prescas {
 background-color:#d8e0de;
}

.table thead tr th {
vertical-align:middle;
}

.panel-contracts table tbody tr td {
vertical-align:middle;
font-size:15px;
font-weight:bold;
}

.panel-heading .label {
font-size:15px;
}

.progress {
margin-bottom: 0;
}

.table-contracts {
background-color:#d5d5d5;
}

.order_btn {
float: right;
}

hr {
margin:0;
height:1px;
border-width:1px;
background-color:#ddd;
}

.container .panel-heading span {
display: inline-block;
margin-top: 1px;
}
table td p {
margin: 2px 0;
}
.panel-contracts {
max-height:65vh;
}

.table td button {
margin-left:0px;
}

.table tbody tr td{
padding: 1px 2px;
vertical-align:middle;
}

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #f0f0f0;
}

.panel-default .panel-heading {
    background-color: #f0f0f0;
}
.panel {
margin:0;
}
.panel li form {
margin-bottom: 0;
}
.panel-heading ul {
padding:0;

}
.panel-heading ul li {
  list-style: none;
}

.table td {
vertical-align:middle;
}

.prac_doba {
}

.vikend_svatek {
background-color:black;
color:white;
}

.dovolena {
background-color:green;
color:white;
}

.plac_volno {
background-color:purple;
color:white;
}

.neplac_volno {
background-color:red;
color:white;
}


.prac_neschopnost {
background-color:orange;
}

.doprovod_lekar {
background-color:lightblue;
}

.pohreb {
background-color:yellow;
}

.vybrane_prescasy {
background-color:grey;
color:white;
}

#archiv{
    margin-top: 10px;
    }

#aTable {
    height: 30vh;
  overflow: auto;
}

#archiv h5 {
padding-top: 5px;
border-top: 1px solid #ddd;
}

.statistic_row {
margin-top:10px;
}
div.ex {
position:absolute;
height:10px;
}

#statistic_table {

    display: flex;
    overflow-x: scroll !important;

}

