body {
height:100vh;
}
 table ul {
    list-style-type: none;
    padding: 0;
    }
table li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: grab;
    }
 button {
    margin-left: 10px;
 }

th {
  background: #d5d5d5;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  z-index:10;
}

.table thead tr th {
vertical-align:middle;
}

.panel-contracts table tbody tr td {
vertical-align:middle;
font-size:15px;
font-weight:bold;
}

.panel-heading .label {
font-size:15px;
}

.progress {
margin-bottom: 0;
}

.table-contracts {
background-color:#d5d5d5;
}

.order_btn {
float: right;
}

hr {
margin:0;
height:1px;
border-width:1px;
background-color:#ddd;
}

.container .panel-heading span {
display: inline-block;
margin-top: 1px;
}
table td p {
margin: 2px 0;
}
.panel-contracts {
max-height:65vh;
}

.table td button {
margin-left:0px;
}

.panel .table tbody td {
padding: 1px 8px;
}

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #f0f0f0;
}

.panel-default .panel-heading {
    background-color: #f0f0f0;
}
.panel {
margin:0;
}
.panel li form {
margin-bottom: 0;
}
.panel-heading ul {
padding:0;

}
.panel-heading ul li {
  list-style: none;
}

#archiv{
    margin-top: 10px;
    }

#aTable {
    height: 30vh;
  overflow: auto;
}

#archiv h5 {
padding-top: 5px;
border-top: 1px solid #ddd;
}
