{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<div class="container">

            <div class="" style="display:flex; justify-content:center">
                <h3>Přehled {{ name }} {{ month_name }} {{ datum }}</h3>
            </div>
        <div class="text-center">
            <button class="btn btn-primary no_print"><span class="glyphicon glyphicon-pencil"></span> Úprava docházky</button>
            <button class="btn btn-warning no_print" onClick="printPage()"><span class="glyphicon glyphicon-print"></span> Tisk přehledu</button>
            <button class="btn btn-danger no_print" ><span class="glyphicon glyphicon-user"></span> Úprava {{ name }}</button>
        </div>
<div>
    {% include 'attendance_overview_modal.html' %}
</div>
</div>

{% endblock %}

<script>

</script>
