{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<div class="container" id="content">
    <div class="py-5 text-center">

        <form class="form-signin" style="max-width: 600px; margin:auto;padding:15px"
              action="{{ url_for('attendance_all') }}" method='POST'>

            <div class="" style="display:flex; justify-content:center">
                <h3>{{ head_text }}</h3>
            </div>

            <div class="row">

                {{ form.csrt_token }}

                <div class="col-md-6 mb-15">
                    {% if form.startdate.errors %}
                    {% for error in form.startdate.errors %}
                    <label class="control-label" for="startdate">{{ error }}</label>
                    {% endfor %}
                    {% else %}
                    {{ form.startdate.label(class='form-control-label', for='startdate') }}
                    {% endif %}
                    {{form.startdate(class='form-control', id='startdate')}} {{form.hidden_tag()}}
                </div>

                <div class="col-md-6 mb-15">
                    {% if form.enddate.errors %}
                    {% for error in form.enddate.errors %}
                    <label class="control-label" for="enddate">{{ error }}</label>
                    {% endfor %}
                    {% else %}
                    {{ form.enddate.label(class='form-control-label', for='enddate') }}
                    {% endif %}
                    {{form.enddate(class='form-control', id='enddate')}} {{form.hidden_tag()}}
                </div>
                <div class="col-md-12">
                    {% for name in list_of_workers %}
                    <span class="worker_checkbox">{{ name }} <input type="checkbox" value={{ name }}
                                                                    name="worker"></span>
                    {% endfor %}
                </div>

            </div>
            {{form.submit(class="btn btn-primary btn-lg")}}
        </form>


    </div>
    <div class="panel panel-default" style="overflow-x:auto;">
        <table class="table table-bordered">
            <thead>
            <tr class="text-center">
                <th>Jméno</th>
                <th>Datum</th>
                <th>Příchod</th>
                <th>Odchod</th>
                <th>Hodiny</th>
                <th>Přesčas</th>
                <th>Olepka</th>
                <th>Pila</th>
                <th>Poznámky</th>
            </tr>
            </thead>
            <tbody>
            {% for worker, worker_data in workers_result.items() %}
            {% for month, month_data in worker_data.items() %}
            {% for day, day_data in month_data.items() %}

            <tr class="worker_row">
                <td>{{ worker }}</td>
                <td>{{ month }}</td>
                <td>{{ day_data['Příchod'] }}</td>
                <td>{{ day_data['Odchod'] }}</td>
                <td>{{ day_data['Hodiny/Den'] }}</td>
                <td>{{ day_data['Přesčasy'] }}</td>
                {% if day_data['Činnost'] == 'olepka' %}
                <td>{{ day_data['Počet činnosti'] }}</td>
                {% else %}
                <td>-</td>
                {% endif %}
                {% if day_data['Činnost'] == 'pila' %}
                <td>{{ day_data['Počet činnosti'] }}</td>
                {% else %}
                <td>-</td>
                {% endif %}
                <td>{{ day_data['Poznámky'] }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
            {% endfor %}
            <tr class="table-dark text-center">
                <td colspan="4">{{ head_text }}</td>
                <td>Hodiny:</td>
                <td>Přesčasy</td>
                <td>{{ glue_activity_sum }}m olepeno</td>
                <td>{{ cut_activity_sum }} desek nařezáno</td>
                <td>-</td>
            </tr>
            </tbody>
        </table>

    </div>

        <div class="col-md-3" style="padding-left:0">
            <ul class="list-group">
                {% for worker, worker_item in worker_statistics.items() %}
                {% if worker_item['olepka'] and worker in workers_result %}
                <li class="list-group-item dovolena">{{worker}}: <span class="">{{worker_item['awg olepka']}}</span>
                    metrů průměr
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3" style="padding-left:0">
            <ul class="list-group">
                {% for worker, worker_item in worker_statistics.items() %}
                {% if worker_item['pila'] and worker in workers_result %}
                <li class="list-group-item doprovod_lekar">{{worker}}: <span class="">{{worker_item['awg pila']}}</span>
                    desek průměr
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>


{% include 'login_statistics.html' %}
</div>

{% endblock %}
