{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<div class="container">
    <div class="py-5">
        <div class="text-center" style="display:flex; justify-content:center">
            <h1>Přehled {{ user.capitalize() }}</h1>
        </div>


        <!-- Split button -->
<div class="btn-group">
  <button type="button" class="btn btn-primary">{{ month_name }}</button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="{{ url_for('attendence_overview', select_month=1) }}">Leden</a></li>
    <li><a href="{{ url_for('attendence_overview', select_month=2) }}">Únor</a></li>
    <li><a href="{{ url_for('attendence_overview', select_month=3) }}">Březen</a></li>
    <li><a href="{{ url_for('attendence_overview', select_month=4) }}">Duben</a></li>
    <li><a href="{{ url_for('attendence_overview', select_month=5) }}">Květen</a></li>
    <li><a href="{{ url_for('attendence_overview', select_month=6) }}">Červen</a></li>
    <li><a href="{{ url_for('attendence_overview', select_month=7) }}">Červenec</a></li>
    <li><a href="{{ url_for('attendence_overview', select_month=8) }}">Srpen</a></li>
    <li><a href="{{ url_for('attendence_overview', select_month=9) }}">Září</a></li>
    <li><a href="{{ url_for('attendence_overview', select_month=10) }}">Říjen</a></li>
    <li><a href="{{ url_for('attendence_overview', select_month=11) }}">Listopad</a></li>
    <li><a href="{{ url_for('attendence_overview', select_month=12) }}">Prosinec</a></li>
  </ul>
</div>
        <div class="panel panel-default" style="overflow-x:auto;">
            <table class="table table-bordered">
                <thead>
                <tr class="text-center">
                    <th>Datum</th>
                    <th>Příchod</th>
                    <th>Odchod</th>
                    <th>Hodiny</th>
                    <th>Přesčas</th>
                    {% if 'olepka' in found_strings %}<th>Olepka</th>{% endif %}
                    {% if 'pila' in found_strings %}<th>Pila</th>{% endif %}
                    {% if 'sklad' in found_strings %}<th>Sklad</th>{% endif %}
                    {% if 'zavoz' in found_strings %}<th>Závoz</th>{% endif %}

                    {% if 'jine' in found_strings %}<th>Jiné</th>{% endif %}
                </tr>
                </thead>
                <tbody>
                {% for i in user_month_values %}
                {% for y in i %}
                <tr>
                    <td>{{ y[0][:5] }}</td>
                    <td>{{ y[1] }}</td>
                    <td>{{ y[2] }}</td>
                    <td>{{ y[3] }}</td>
                     <td>{{ y[4] }}</td>
                    {% if 'olepka' in found_strings %}<td>{% if y[5] == 'olepka' %} {{ y[6] }} {% endif %}</td>{% endif %}
                    {% if 'pila' in found_strings %}<td>{% if y[5] == 'pila' %} {{ y[6] }} {% endif %}</td>{% endif %}
                    {% if 'sklad' in found_strings %}<td>{% if y[5] == 'sklad' %} {{ y[7] }} {% endif %}</td>{% endif %}
                    {% if 'zavoz' in found_strings %}<td>{% if y[5] == 'zavoz' %} {{ y[7] }} {% endif %}</td>{% endif %}
                    {% if 'kancl' in found_strings %}<td>{% if y[5] == 'kancl' %} {{ y[7] }} {% endif %}</td>{% endif %}
                    {% if 'jine' in found_strings %}<td>{% if y[5] == 'jine' %} {{ y[7] }} {% endif %}</td>{% endif %}

                </tr>
                {% endfor %}
                {% endfor %}
                <tr class="table-dark text-center" >
                    <td>Celkem</td>
                    <td colspan="3">{{ user_value[8] }} hod/měs.</td>
                    <td>{{ user_value[9] }} přesčasu</td>
                    {% if 'olepka' in found_strings %}<td>{{ user_value[10] }}m olepeno</td>{% endif %}
                    {% if 'pila' in found_strings %}<td>Nařezáno {{ user_value[11] }} desek</td>{% endif %}
                    {% if 'sklad' in found_strings %}<td>{{ "-" }}</td>{% endif %}
                    {% if 'zavoz' in found_strings %}<td>{{ "-" }}</td>{% endif %}
                    {% if 'kancl' in found_strings %}<td>{{ "-" }}</td>{% endif %}
                    {% if 'jine' in found_strings %}<td>{{ "-" }}</td>{% endif %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
