{% extends 'base.html' %}

{% block body %}

<div class="container" style="display: flex; justify-content: center; align-items: center; height: 80vh">
    <form method="POST">
        <div>
            <div class="text-danger" style="text-align:center;">
                <span style="font-weight:700;">{{ login_text }}</span>
            </div>
            <div class="col-md-12">
                {% for worker in workers_list[1:] %}
                <span class="worker_checkbox">{{ worker[4] }} <input type="checkbox" value={{ worker[8] }} name="worker"></span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="oldPassword">Staré heslo</label>
                <input type="password" name="oldpassword" class="form-control" id="oldPassword"
                       placeholder="Staré heslo" required>
            </div>

            <div class="form-group">
                <label for="inputPassword">Heslo</label>
                <input type="password" name="newpassword" class="form-control" id="inputPassword"
                       placeholder="Nové heslo" required>
            </div>
            <div class="form-group">
                <label for="checkPassword">Heslo Znovu</label>
                <input type="password" name="checkpassword" class="form-control" id="checkPassword"
                       placeholder="Nové heslo znovu" required>
            </div>
            <button type="submit" class="btn btn-danger">Změnit heslo</button>
        </div>
    </form>
</div>

{% endblock %}
