        <script type="text/javascript">

        $(document).ready(function(){
            $("#myModal").modal('show');
        });''

        </script>

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Open"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Změna</h3>
                    </div>
                    <div class="modal-body">
                      <p>
                        Nově nyní můžeš tisknout měsíční přehled rovnou z <span style="text-decoration:underline; font-weight:bold">Evidence docházky</span>.</p>
                      <p>
                          Z této karty je přístup na přehled docházky jednotlivých zaměstnanců (odkaz v tlačítku jejich jména) na stejném místně.
                          Tedy <span style="text-decoration:underline; font-weight:bold">Evidence docházky</span> a jméno
                      </p>
                        <p>
                        Po přesunu na přehled můžeš tisknout tlačítkem <span style="text-decoration:underline; font-weight:bold">Tisk přehledu</span> jejich měsíční docházku.
                      </p>
                      <p>
                        A jejich docházku můžeš také upravovat pomocí formuláře po kliknutí tlačítka <span style="text-decoration:underline; font-weight:bold">Úprava docházky</span>.
                      </p>
                        <p>
                            Tato hláška zmizí při dalším přihlášení
                        </p>
                        <p>
                            Kdyby něco nefungovalo, tak dej vědět.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
