{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h1>Seznam zakázek</h1>
            <div>
                <span class="label label-primary">Formátování celkem: {{ cut_count }} minut</span>
                <span class="label label-primary">Hranění celkem: {{ glue_count }} metrů</span>
            </div>
        </div>

        <!-- Table -->
        <div class="panel panel-contracts" style="overflow-x:auto;">
            <table class="table table-bordered table-hover table-sortable table-striped">
                <thead>
                <form action="/add_contract" method="POST">
                    <tr class="table-contracts">
                        <th></th>
                        <th>Zakázka</th>
                        {{ form.csrt_token }}
                        {{ form.hidden_tag() }}
                        <th>{{ form.customer_name }}{{ form.hidden_tag() }}</th>
                        <th>{{ form.customer_note }}{{ form.hidden_tag() }}</th>
                        <th>
                            <div class="col-lg-12">
                                <div class="input-group">
                                <span class="input-group-addon">
                                  {{ form.customer_cut }}{{ form.hidden_tag() }} Formátování
                                </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-12">
                                <div class="input-group">
                            <span class="input-group-addon">
                              {{ form.customer_glue }}{{ form.hidden_tag() }} Hranění
                            </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </th>
                        <th>Stav</th>
                        <th>
                            {{ form.customer_date_finish.label(class='form-control-label', for='customer_date_finish')
                            }}
                            {{ form.customer_date_finish }}{{ form.hidden_tag() }}
                        </th>
                        <th>
                            {{ form.submit(class="btn btn-success") }}
                    </tr>
                </form>
                </thead>
                <tbody id="listWithHandle">
                {% for contract in contracts %}
                {% if contract['finished'] == 0 %}
                <tr draggable="true" data-index="{{ loop.index0 }}">
                    <td {% if role== 3 %}id="move" {% endif %}><span class="glyphicon glyphicon-resize-vertical"></span>
                    </td>
                    <td class="number">DC{{ contract['id'] }}</td>
                    <td>{{ contract['contract'] }}</td>
                    <td>{{ contract['note'] }}</td>
                    <td>
                        <div class="col-lg-12">
                            {% if contract['cut_logic'] == 'True' and contract['cut_value'] == '0' %}
                            <div class="input-group">
                                <input type="number" name="cut_value" class="form-control" placeholder="Formátování">
                                <span class="input-group-btn">
                            <button class="btn btn-info" type="button" onclick="setFunction({{ loop.index0 }}, this)">Nastav</button>
                          </span>
                            </div><!-- /input-group -->
                            {% elif contract['cut_logic'] == 'False' and contract['cut_value'] != '0' %}
                            <p style="text-decoration: line-through;">{{ contract['cut_value'] }} nařezáno</p>
                            {% elif contract['cut_logic'] == 'False' %}
                            <p>Bez řezání</p>
                            {% else %}
                            <button name="cut_logic" class="btn btn-danger" type="button" {% if role== 3
                                    %}onclick="clearFunction({{ loop.index0 }}, this)" {% endif %}><span class="badge">{{ contract['cut_value'] }}</span>
                                minut nařezat
                            </button>
                            {% endif %}
                        </div><!-- /.col-lg-12 -->
                        <hr>

                        <div class="col-lg-12">
                            {% if contract['glue_logic'] == 'True' and contract['glue_value'] == '0' %}
                            <div class="input-group">
                                <input type="number" name="glue_value" class="form-control" placeholder="Hranění">
                                <span class="input-group-btn">
                            <button class="btn btn-info" type="button" onclick="setFunction({{ loop.index0 }}, this)">Nastav</button>
                          </span>
                            </div><!-- /input-group -->
                            {% elif contract['glue_logic'] == 'False' and contract['glue_value'] != '0' %}
                            <p style="text-decoration: line-through;">{{ contract['glue_value'] }} ohraněno</p>
                            {% elif contract['glue_logic'] == 'False' %}
                            <p>Bez hranění</p>
                            {% else %}
                            <button name="glue_logic" class="btn btn-danger" type="button" {% if role== 3
                                    %}onclick="clearFunction({{ loop.index0 }}, this)" {% endif %}><span class="badge">{{ contract['glue_value'] }}</span>
                                metrů ohranit
                            </button>
                            {% endif %}
                        </div><!-- /.col-lg-12 -->

                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                70%
                            </div>
                        </div>
                    </td>
                    <td>{{ contract['date_create'] }} / {{ contract['date'] }}</td>
                    <td>{% if not contract['finished'] %}
                        <!--<button class="btn btn-success float-right" onclick="completeContract({{ loop.index0 }})">
                            Uspokojeno
                        </button>-->
                        <button class="btn btn-danger glyphicon glyphicon-remove"
                                onclick="completeContract({{ loop.index0 }})"></button>
                        <button onclick="printContract({{ loop.index0 }})" class="btn btn-warning glyphicon glyphicon-print"></button>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if role == 3 %}
        <button class="btn btn-warning order_btn" class="btn" onclick="updateContractOrder()">Uložit pořadí</button>
        {% endif %}
    </div>
    {% if contract_id == None %}
    <div class="col-lg-4">
    <div class="input-group">
        <input type="number" name="glue_value" class="form-control" placeholder="Nenastaveno">
        <span class="input-group-btn">
            <button class="btn btn-info" type="button" onclick="setContractId(this)">Nastav</button>
        </span>
    </div><!-- /input-group -->
        </div>
    {% endif %}
</div>
</div>

<script>

$( function() {
  $( "#task-list" ).sortable();
});

Sortable.create(listWithHandle, {
  handle: '#move',
  animation: 150
});

        function completeContract(contractIndex) {
            $.get(`/complete_contract/${contractIndex}`, function() {
                location.reload();
            });
        }

        function setFunction(contractIndex, button) {
            var inputField = button.parentNode.previousElementSibling;
            var inputValue = inputField.value;
            var inputName = inputField.name;
            $.get(`/set_value/${contractIndex}/${inputValue}/${inputName}`, function() {
                location.reload();
            });
        }

        function printContract(contractIndex) {
            string = 'print_pdf/'+contractIndex
            $.post(`/print_pdf/${contractIndex}`, function(){
                window.open(string, '_blank')
            });
        }

        function clearFunction(contractIndex, button) {
            var buttonName = button.name;
            $.get(`/clear_value/${contractIndex}/${buttonName}`, function() {
                location.reload();
            });
        }

        function setContractId(button) {
            var inputField = button.parentNode.previousElementSibling;
            var newId = inputField.value;
            $.get(`/set_contract_id/${newId}`, function() {
                location.reload();
            });
        }

        function setNumber() {
             ('/get_number', { method: 'POST' })
        }

        function updateContractOrder() {
            var taskList = document.getElementById('listWithHandle');
            var items = Array.from(taskList.children);
            var newOrder = items.map(function (item) {
                return item.dataset.index;
            });

            $.ajax({
                url: '/update_contract_order',
                type: 'POST',
                data: { contract_order: newOrder },
                success: function () {
                    // Po úspěšném uložení můžete provést nějakou akci, například zobrazení zprávy o úspěchu.
                }
            });
        }
</script>
{% endblock %}

