    {% if user %}
    <div class="login_stat no_print" style="">
        <p class="mynav no_print">Naposledy přihlášen:</p>
        <ul class="nav navbar-nav no_print">
            {% for worker in worker_list%}
            {% if worker['name'] != 'Kropáček' %}
            <li>
                <p>
                    {{ worker['name'] }} {{ worker['the_date'] }}
                    <span class="badge">{{ worker['entrance_count'] }}</span>
                </p>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
