{% extends 'base.html' %}
{% block body %}
<div class="container">
 <div class="py-5 text-center">
    <form method="POST" class="form-signin" style="max-width: 600px; margin:auto;padding:15px"  >

            <h1 class="mb-3">Nová registrace</h1>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="input_first_name">Jmeno</label>
                <input type="text" name="first_name" class="form-control" id="input_first_name" placeholder="Jméno" value="" required>
            </div>
            <div class="form-group col-md-6">
                <label for="input_last_name">Příjmení</label>
                <input type="text" name="second_name" class="form-control" id="input_last_name" placeholder="Příjmení" value="" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="input_password">Heslo</label>
                <input type="password" name="password" class="form-control" id="input_password" required>
            </div>
            <div class="form-group col-md-6">
                <label for="input_role">Pracovní role</label>
                <input type="number" name="role" class="form-control" id="input_role" placeholder="worker(1), manager(2)" min="1" max="2" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="input_email">Email</label>
                <input type="email" name="email" class="form-control" id="input_email" placeholder="email@senzam.cz" required>
            </div>
            <div class="form-group col-md-6">
                <label for="input_phone">Telefon</label>
                <input type="phone" name="phone" class="form-control" id="input_phone" placeholder="123456789" required>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Registrovat</button>
        </div>
    </form>
 </div>

{% endblock %}
