{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<div class="container">
    <div class="py-5">
        <div class="text-center" style="display:flex; justify-content:center">
            <h3>Přehled {{ month_name.capitalize() }}</h3>
        </div>


        <!-- Split button -->
        <div class="btn-group no_print">
            <button type="button" class="btn btn-primary">{{ month_name }}</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
                <button class="btn btn-warning no_print" onClick="printPage()"><span class="glyphicon glyphicon-print"></span> Tisk přehledu</button>
            </button>
            <ul class="dropdown-menu no_print">
                <li><a href="{{ url_for('statistics', selected_month='01') }}">Leden</a></li>
                <li><a href="{{ url_for('statistics', selected_month='02') }}">Únor</a></li>
                <li><a href="{{ url_for('statistics', selected_month='03') }}">Březen</a></li>
                <li><a href="{{ url_for('statistics', selected_month='04') }}">Duben</a></li>
                <li><a href="{{ url_for('statistics', selected_month='05') }}">Květen</a></li>
                <li><a href="{{ url_for('statistics', selected_month='06') }}">Červen</a></li>
                <li><a href="{{ url_for('statistics', selected_month='07') }}">Červenec</a></li>
                <li><a href="{{ url_for('statistics', selected_month='08') }}">Srpen</a></li>
                <li><a href="{{ url_for('statistics', selected_month='09') }}">Září</a></li>
                <li><a href="{{ url_for('statistics', selected_month='10') }}">Říjen</a></li>
                <li><a href="{{ url_for('statistics', selected_month='11') }}">Listopad</a></li>
                <li><a href="{{ url_for('statistics', selected_month='12') }}">Prosinec</a></li>
            </ul>
        </div>
        <div id="statistic_table" class="panel panel-default">
            <table class="statistics table table-hover table-bordered">
                <thead>
                <tr class="text-center parent">
                    <th>Jméno</th>
                    {% for i in range(currentMonth) %}
                    <th class="parent">{{i+1}}</th>
                    {% endfor %}
                    <th>Hodiny</th>
                    <th>Přesčas</th>
                </tr>
                </thead>
                <tbody>
                {% for worker, worker_value in statistic_data.items() %}
                <tr class="text-center">
                    <th {% if user and role==3 %} onclick="window.location.href='{{ url_for('set_attendance',pass_name=worker, pass_date=date) }}';" class="table_user_button" {% endif %}>{{ worker }}</th>
                    {% for month, month_value in worker_value.items() %}
                    {% if month.split('-')[0]+'-'+month.split('-')[1] == choose_month %}
                    {% for day, day_value in month_value.items() %}

                    {% if day_value['Hodiny/Den'] != None %}
                    <td class="prac_doba">{{ day_value['Hodiny/Den'] }}</td>
                    {% elif day_value['Neplacené volno'] != None %}
                    <td class="neplac_volno">{{ day_value['Neplacené volno'] }}</td>
                    {% elif day_value['Nemoc/Lékař'] != None %}
                    <td class="prac_neschopnost">{{ day_value['Nemoc/Lékař'] }}</td>
                    {% elif day_value['Vybraná dovolená'] != None %}
                    <td class="dovolena">{{ day_value['Vybraná dovolená'] }}</td>
                    {% elif day_value['Vybrané přesčasy'] != None %}
                    <td class="vybrane_prescasy">{{ day_value['Vybrané přesčasy'] }}</td>
                    {% elif day_value['Placené volno/Krev'] != None %}
                    <td class="plac_volno">{{ day_value['Placené volno/Krev'] }}</td>
                    {% elif day_value['Doprovod k lékaři'] != None %}
                    <td class="doprovod_lekar">{{ day_value['Doprovod k lékaři'] }}</td>
                    {% elif day_value['Překážka na straně zaměstnavatele'] != None %}
                    <td class="vikend_svatek">{{ day_value['Překážka na straně zaměstnavatele'] }}</td>
                    {% else %}
                    <td class="vikend_svatek">-</td>

                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    <td class="hodiny">{{ worker_value[choose_month+'-01']['01']['Hodiny soucet'] }}
                    </td>
                    <td class="prescas">{{ worker_value[choose_month+'-01']['01']['Přesčas/Součet']
                        }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if user %}

        <div>
        <div class="col-md-3" style="padding-left:0px">
            <ul class="list-group">
                <li class="list-group-item prac_doba">I - Standardní pracovní doba</li>
                <li class="list-group-item vikend_svatek">Sobota / Neděle / Státní sv.</li>
                <li class="list-group-item dovolena">D - Dovolená</li>
                <li class="list-group-item vybrane_prescasy">Vybrané přesčasy</li>
                <li class="list-group-item plac_volno">Placené volno / Krev</li>
                <li class="list-group-item neplac_volno">NEV - Neplacené volno</li>
            </ul>
        </div>
        <div class="col-md-3" style="padding-left:0px">
            <ul class="list-group">
                <li class="list-group-item prac_neschopnost">N - Pracovní neschopnost / lékař</li>
                <li class="list-group-item doprovod_lekar">DP - Doprovod k lékaři</li>
                <li class="list-group-item pohreb">Pohřeb</li>
            </ul>
        </div>
</div>
{% endif %}

{% include 'login_statistics.html' %}

</div>
{% endblock %}
