{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<div class="container">
    <div class="py-5">
        <div class="text-center" style="display:flex; justify-content:center">
            <h1>Přehled {{ month_name.capitalize() }}</h1>
        </div>


        <!-- Split button -->
        <div class="btn-group">
            <button type="button" class="btn btn-primary">{{ month_name }}</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('statistics', selected_month='01') }}">Leden</a></li>
                <li><a href="{{ url_for('statistics', selected_month='02') }}">Únor</a></li>
                <li><a href="{{ url_for('statistics', selected_month='03') }}">Březen</a></li>
                <li><a href="{{ url_for('statistics', selected_month='04') }}">Duben</a></li>
                <li><a href="{{ url_for('statistics', selected_month='05') }}">Květen</a></li>
                <li><a href="{{ url_for('statistics', selected_month='06') }}">Červen</a></li>
                <li><a href="{{ url_for('statistics', selected_month='07') }}">Červenec</a></li>
                <li><a href="{{ url_for('statistics', selected_month='08') }}">Srpen</a></li>
                <li><a href="{{ url_for('statistics', selected_month='09') }}">Září</a></li>
                <li><a href="{{ url_for('statistics', selected_month='10') }}">Říjen</a></li>
                <li><a href="{{ url_for('statistics', selected_month='11') }}">Listopad</a></li>
                <li><a href="{{ url_for('statistics', selected_month='12') }}">Prosinec</a></li>
            </ul>
        </div>
        <div class="panel panel-default" style="overflow-x:auto;">
            <table class="table table-hover table-bordered">
                <thead>
                <tr class="text-center">
                    <th>Jméno</th>

                    {% for i in range(currentMonth) %}
                    <th>{{i+1}}</th>
                    {% endfor %}
                    <th>Celkem hodin</th>
                    <th>Celkem přesčas</th>

                </tr>
                </thead>
                <tbody>
                {% for key, value in statistic_data.items() %}
                <tr class="text-center">
                    <th>{{ key }}</th>
                    {% for key2, value2 in value.items() %}
                    {% if key2 == choose_month %}
                    {% for key3, value3 in value2.items() %}
                        {% if value3['Hodiny/Den'] != None %}
                            <td class="prac_doba">{{ value3['Hodiny/Den'] }}</td>

                        {% elif value3['Neplacené volno'] != None %}
                            <td class="neplac_volno">{{ value3['Neplacené volno'] }}</td>

                        {% elif value3['Nemoc/Lékař'] != None %}
                            <td class="prac_neschopnost">{{ value3['Nemoc/Lékař'] }}</td>

                        {% elif value3['Vybraná dovolená'] != None %}
                            <td class="dovolena">{{ value3['Vybraná dovolená'] }}</td>

                        {% elif value3['Vybrané přesčasy'] != None %}
                            <td class="vybrane_prescasy">{{ value3['Vybrané přesčasy'] }}</td>


                        {% elif value3['Placené volno/Krev'] != None %}
                            <td class="plac_volno">{{ value3['Placené volno/Krev'] }}</td>

                        {% elif value3['Doprovod k lékaři'] != None %}
                            <td class="doprovod_lekar">{{ value3['Doprovod k lékaři'] }}</td>

                        {% elif value3['Překážka na straně zaměstnavatele'] != None %}
                            <td class="vikend_svatek">{{ value3['Překážka na straně zaměstnavatele'] }}</td>



                        {% else %}
                            <td class="vikend_svatek">-</td>
                        {% endif %}
                    {% endfor %}
                    <td style="background-color:orange">{{ value[choose_month]['1']['Hodiny soucet'] }}</td>
                    <td style="background-color:yellow">{{ value[choose_month]['1']['Přesčas/Součet'] }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if user %}

    <div class="row statistic_row">
        <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item prac_doba">I - Standardní pracovní doba</li>
            <li class="list-group-item vikend_svatek">Sobota / Neděle / Státní sv.</li>
            <li class="list-group-item dovolena">D - Dovolená</li>
            <li class="list-group-item vybrane_prescasy">Vybrané přesčasy</li>
            <li class="list-group-item plac_volno">Placené volno / Krev</li>
            <li class="list-group-item neplac_volno">NEV - Neplacené volno</li>
        </ul>
            </div>
        <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item prac_neschopnost">N - Pracovní neschopnost / lékař</li>
            <li class="list-group-item doprovod_lekar">DP - Doprovod k lékaři</li>
            <li class="list-group-item pohreb">Pohřeb</li>
        </ul>
            </div>
    </div>
    <div>
        <p class="mynav">Naposledy přihlášen:</p>
        <ul class="nav navbar-nav">
            {% for worker in worker_list%}
            <li>
                <p>
                    {{ worker['name'] }} {{ worker['date'] }}
                    <span class="badge">{{ worker['count'] }}</span>
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
